.result-wrap {
  padding: 36px;
  text-align: right;
  color: #fff;
}

.result-text {
  padding: 40px 0;
}

.result-content {
  font-size: 48px;
  border-bottom: 10px #fff solid;
  padding-bottom: 40px;
}

.result-btn {
  margin-bottom: 30px;
}
